h1{
    text-align: center;
    font-size: 40px;
}
span{
    color: greenyellow;
}
.main img{
    max-width: 600px;

}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-info{
max-width: 500px;
}
.main-info p{
    font-size: 20px;
}
.main-info ul{
    padding-left: 17px;
}
.main-info li{
    font-size: 20px;
}
.main-info a{
    font-size: 20px;
    color: #006dd4;
}
.form{
    max-width: 420px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}
.form h2{
    text-align: center;
    font-size:35px;
}
.form input{
    padding:10px;
    font-size: 23px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid #d7d7d7;
}
.form button{
    background: green;
    color:white;
    padding: 16px;
    border-radius: 5px;
    border:0;
    font-size: 20px;
}
.main-info p{
    font-size:20px;
}
